@inject PicBook.Repository.EntityFramework.IImageRepository ImageRepo
@inject PicBook.Repository.EntityFramework.ITagRepository TagRepo
@{
    ViewData["Title"] = "My pictures";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    function DeletePic(id) {
        $.get("/Image/DeletePic?id=" + id, function (data) {
            window.location.reload();
        });
    }

    function PublicPic(id) {
        $.get("/Image/PublicPic?id=" + id, function (data) {
            window.location.reload();
        });
    }

</script>

<div style="display: flex">
    @if (User.Identity.IsAuthenticated)
    {        
        var claimsIdentity = (System.Security.Claims.ClaimsIdentity)this.User.Identity;
        var claim = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier);
        var userId = claim.Value;
        var imgRepo = ImageRepo;
        List<PicBook.Domain.Image> images = ImageRepo.FindByUserIdentifier(userId).Result;
        <div class="panel panel-primary" style="margin-top:20px ; width: 60%">
            <div class="panel-heading" style="font-size: 20px">Your pictures</div>
            <div class="panel-body">
                @foreach (var image in images)
                {                                        
                    String url = (image.Remote) ? image.ImageURL : "images/" + image.ImageURL;
                    List<PicBook.Domain.Tag> tags = TagRepo.FindByImageIdentifier(image.ImageIdentifier).Result;
                    <div class="panel panel-info text-center">
                        <div class="panel-heading">
                            @image.Name
                        </div>
                        <div class="panel-body">
                            <p><a href="@url" target="_blank"><img src="@url" width="50px" height="50px" /></a></p>

                            <div>
                                <button class="btn btn-danger" onclick="DeletePic('@image.ImageIdentifier')">Delete</button>
                                @if (!image.PublicToAll)
                                {
                                    <button class="btn btn-success" onclick="PublicPic('@image.ImageIdentifier')">Set Public</button>
                                }
                                @if (image.PublicToAll)
                                {
                                    <button class="btn btn-warning" onclick="PublicPic('@image.ImageIdentifier')">Set Private</button>
                                }
                            </div>
                        </div>
                        <div class="panel-footer">
                            Recognized tags:
                            @foreach (var tag in tags)
                            {
                                <span> <a href="../Tag?tag=@tag.TagName">@tag.TagName</a> </span>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>


    }

    <div class="panel panel-primary text-center" style="margin-top: 20px; width: 40%; margin-left: 10px; height: 230px">
        <div class="panel-heading" style="font-size: 20px">Upload a picture</div>
        <div class="panel-body">
            <form method="post" enctype="multipart/form-data" asp-controller="Image" asp-action="Upload">
                <div class="form-group">
                    <div class="col">
                        <p>Upload one or more files using this form:</p>
                        <input class="form-control" type="file" name="files" multiple />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col" style="text-align: center">
                        <button type="submit" class="btn btn-primary" style="margin-top: 12px">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


